/*Fuente de la app web*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Varibales de colores*/
:root {
  --blanco: #fff;
  --transparente: #ffffff13;
  --negro: #0e0e0e;
  --rojo: #b52626;
  --gris: #c4c4c4;
  --gradiente: linear-gradient(
    180deg,
    #ff9d7a 0,
    #ff8f83 10%,
    #ff8089 20%,
    #ff718d 30%,
    #ff628d 40%,
    #f25389 50%,
    #d34683 60%,
    #b63c7d 70%,
    #9e3678 80%,
    #883174 90%,
    #752e71 100%
  );
}

/*Estilos generales*/
* {
  font-family: "Poppins", sans-serif;
}

*:selection {
  background-color: var(--rojo);
  color: var(--blanco);
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  color: var(--blanco);
}

/*Estilos del html*/
html {
  scroll-behavior: smooth;
}

/*Body*/
body {
  background-image: var(--gradiente);
}

/*Actores*/
.actor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
}

.rounded-circle {
  width: 50px;
  margin-right: 1rem;
  margin: 0 auto;
}

.actor-name {
  margin-top: 1rem;
}
